<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalreminder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalReminder">
        <activity android:name=".views.medication_drug_screen.EditMedicationDrugScreen" />
        <activity android:name=".views.medication_drug_screen.MedicationDrugScreen" >
        </activity>
        <activity android:name=".views.add_medication_screen.fragments.AddMedTakingTimeForWeekFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedOnSaveFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedTakingTimeForDayFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedRepeatingPeriodFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedRepeatFrequencyFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedReasonFragment" />
        <activity android:name=".views.add_medication_screen.fragments.AddMedStrengthFragment" />
        <activity android:name=".views.SplashScreen" android:theme="@style/bottomNavigationBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.add_medication_screen.AddMedicationActivityScreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>